* {
    margin: 0px;
    padding: 0px;
}

h1 {
    /* color: #000;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 54px */
}

p {
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.navbar {
    /* background: #F1F3FF; */
    display: flex;
    justify-content: space-around;
    margin: 24px 249px 0px 136px;
    position: absolute;
    top: 0;
    z-index: 2;

}

.n-logo {
    width: 100px;
    height: 34px;
    flex-shrink: 0;
    background: var(--primary-dark-blue-04, #0D28A6);
}

.n-text {
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

.n-text a{
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-decoration: inherit;
}

.hero-section {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #F1F3FF;
    height: 500px;
    width: 100%;
}

.hr-text {
    /* margin-left: 136px; */
    margin-bottom: 87px;
    padding-right: 32px;
}

.hr-text h1{
    width: 568px;
    color: #000;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /*54px*/
}

.hr-text p {
    width: 468px;
}

.hr-text button {
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: var(--primary-lime-green-04, #5CB85F);
    color: var(--neutral-10, #FFF);
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    border: none;
}

.hr-pic {
    width: 704px;
    height: 407px;
    flex-shrink: 0;
    display: flex;
    align-items: self-end;
    right: 0;
}

.hr-pic img {
    width: 704px;
    height: 407px;
    flex-shrink: 0;
    display: flex;
    vertical-align: bottom;
    position: absolute;
}

.car-background {
    width: 704px;
    height: 243px;
    flex-shrink: 0;
    border-radius: 60px 0px 0px 0px;
    background: var(--primary-dark-blue-04, #0D28A6);
    display: flex;
    position: absolute;
}


.our-service {
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.os-pic {

}

.ellipse1 {
    width: 133px;
    height: 133px;
    flex-shrink: 0;
    fill: var(--primary-lime-green-03, #92D094);
}

.ellipse2 {
    
}

.ellipse3 {
    
}

.ellipse4 {
    border-radius: 360px;
    background: var(--primary-dark-blue-04, #0D28A6);
    width: 360px;
    height: 360px;
    flex-shrink: 0;
}